/* CSS declarations go here */

body {
    background-color: #ecf0f1;
}

.paddingTop {
  padding-top: 20px;
}

.paddingRight {
  padding-right: 10px;
}

.center {
  text-align: center;
}

.floatRight {
  float: right;
  margin: -45px 10px 0 0;
}

.relative {
  position: relative;
}

.absoluteRight {
  position: absolute;
  right: 0;
  top: 6px;
}

.container {
  max-width: 480px;
  margin: 40px auto;
  position: relative;
  padding: 20px;
}

.logo {
  background-color: #34495e;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  margin-top: -10px;
  height: 70px;
  border-bottom: 1px solid #bdc3c7;
  z-index: 100;
}

.title {
  margin: 30px 0 20px;
  letter-spacing: 5px;
  font-size: small;
  color: #bdc3c7;
  text-align: center;
  text-shadow: 0px 1px 0px rgba(255,255,255,.3), 0px -1px 0px rgba(0,0,0,.5);
}

.title a {
  color: #ecf0f1;
  text-decoration: none;
}

.title.lessPad {
  margin: 10px 0 20px;
}

.gameTitle {
  margin-bottom: 15px;
  padding-bottom: 10px; 
  border-bottom: 1px solid #EEE;
}
