/* CSS declarations go here */

body {
  background-color: #F6F6F6;
  font-family: 'Roboto', sans-serif;
  font-size: 12pt;
  line-height: 1.7;
}

h1, h2, h3, h4 {
  font-family: 'Montserrat Alternates', sans-serif;
}

button:focus, button:hover {
  outline: none;
  -webkit-transition: 0.1s -webkit-filter linear;
  -moz-transition: 0.1s -moz-filter linear;
  -moz-transition: 0.1s filter linear;
  -ms-transition: 0.1s -ms-filter linear;
  -o-transition: 0.1s -o-filter linear;
  transition: 0.1s filter linear, 0.1s -webkit-filter linear;
}

.heading {
  margin: 20px 0 20px;
  font-size: x-large;
}

.center {
  text-align: center;
}

.container {
  margin: 10px auto 50px;
  position: relative;
  padding: 10px;
}

@media only screen and (min-width : 600px) {
  .container {
    max-width: 540px;
  }
}

@media only screen and (min-width : 380px) {
  .container {
    margin: 20px auto 50px;
    padding: 20px;
  }
}

.redButton, .greenButton, .whiteButton, .blueButton {
  border-radius: 50px;
  border: none;
  width:  100%;
  height: 45px;
  line-height: 40px;
  font-family: 'Montserrat Alternates', sans-serif;
  color: white;
  font-size: 11pt;
  text-align: center;
  letter-spacing: 1px;
  overflow: hidden;
  cursor: pointer;
  -webkit-transition: 0.1s -webkit-filter linear;
  -moz-transition: 0.1s -moz-filter linear;
  -moz-transition: 0.1s filter linear;
  -ms-transition: 0.1s -ms-filter linear;
  -o-transition: 0.1s -o-filter linear;
  transition: 0.1s filter linear, 0.1s -webkit-filter linear;
  -webkit-box-shadow: 0px 3px 3px -2px rgba(50, 50, 50, 0.25);
  -moz-box-shadow:    0px 3px 3px -2px rgba(50, 50, 50, 0.25);
  box-shadow:         0px 3px 3px -2px rgba(50, 50, 50, 0.25);
}

.redButton {
  background-image: -moz-linear-gradient(45deg, rgba(249,50,70,1) 0%, rgba(249,154,70,1) 100%);
  background-image: -webkit-linear-gradient(45deg, rgba(249,50,70,1) 0%,rgba(249,154,70,1) 100%);
  background-image: linear-gradient(45deg, rgba(249,50,70,1) 0%,rgba(249,154,70,1) 100%);
}

.greenButton {
  background-image: -moz-linear-gradient(45deg, rgba(0,145,175,1) 0%, rgba(0,225,155,1) 100%);
  background-image: -webkit-linear-gradient(45deg, rgba(0,145,175,1) 0%,rgba(0,225,155,1) 100%);
  background-image: linear-gradient(45deg, rgba(0,145,175,1) 0%,rgba(0,225,155,1) 100%);
}

.whiteButton {
  color: black;
  background-color: #EEE;
}

.blueButton {
  border-radius: 7px;
  height: auto;
  min-height: 44px;
  padding: 8px;
  line-height: 1.4em;
  
  font-family: 'Roboto', sans-serif;
  overflow: auto;
  font-weight: bold;
  letter-spacing: 0;

  background-image: -webkit-linear-gradient(45deg,#2591ed 0,#1177cd 100%);
  background-image: -o-linear-gradient(45deg,#2591ed 0,#1177cd 100%);
  background-image: linear-gradient(45deg,#2591ed 0,#1177cd 100%);
  background-color: #1385e5;

  -webkit-transition: all 0.1s;
  -moz-transition: all 0.1s;
  -o-transition: all 0.1s;
  -ms-transition: all 0.1s;
  transition: all 0.1s;
}

.blueButton:disabled {
  color: #055ba4;
  cursor: not-allowed;
}

.whiteButton:hover {
  filter: brightness(102%);
}

.redButton:hover, .redButton:focus {
  filter: brightness(130%);
}

.greenButton:hover, .greenButton:focus {
  filter: brightness(105%);
}

.blueButton:hover, .blueButton:focus {
  filter: brightness(105%);
}

.card {
  background-color: white;
  padding: 20px 15px;
  margin-bottom: 20px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 10px 30px -2px rgba(50, 50, 50, 0.25);
  -moz-box-shadow:    0px 10px 30px -2px rgba(50, 50, 50, 0.25);
  box-shadow:         0px 10px 30px -2px rgba(50, 50, 50, 0.25);
  position: relative;
  z-index: 3;
}

.header {
  font-family: 'Montserrat Alternates', sans-serif;
  text-align: center;
  letter-spacing: 5px;
  color: #BBB;
  padding: 15px;
}

.border {
  border-top: 1px solid rgba(0,0,0,.06);
}

.redButton:disabled, .greenButton:disabled {
  font-size: 0;
}

.redButton:disabled::after, .greenButton:disabled::after {
  content: '';
  display: inline-block;
  position: relative;
  top: 10px;
  width: 20px;
  height: 20px;
  border: 3px solid rgba(255,255,255,0);
  border-radius: 50%;
  border-top-color: #fff;
  border-right-color: #fff;
  animation: spin 1s linear infinite;
  -webkit-animation: spin 1s linear infinite;
}

@keyframes spin {
  to { -webkit-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
  to { -webkit-transform: rotate(360deg); }
}