.currentQuestion {
  font-size: x-large;
  margin: 20px 0;
}

.questionLight {
  color: #7f8c8d;
  margin: -2px;
}

.questionOwner {
  color: #7f8c8d;
  font-size: small;
}

.lessBottomPadding {
  padding-bottom: 5px;
}

.marginBottom {
  margin-bottom: 15px;
}

.marginTop {
  margin-top: 15px;
  color: #7f8c8d;
}

.answering {
  border-radius: 3px;
  border: 1px solid #e67e22;
  font-weight: bold;
  vertical-align: middle;
  font-size: x-small;
  padding: 3px 5px;
  margin: 0 10px;
  color: #e67e22;
  letter-spacing: 1px;
}

.done {
  color: #2980b9;
  font-weight: bold;
}

.underline {
  display: inline-block;
  width: 70px;
  border-bottom: 1px solid #333;
}

#honestly {
  margin-top: 15px;
}

#greySpinner {
  content: '';
  display: inline-block;
  margin: 30px 0 30px;
  width: 50px;
  height: 50px;
  border: 2px solid rgba(0,0,0,0);
  border-radius: 50%;
  border-top-color: #1385e5;
  border-right-color: #1385e5;
  animation: spin 1s linear infinite;
  -webkit-animation: spin 1s linear infinite;
}