.whiteButton.option {
  background-color: #f2f2f2;

  position: relative;
  height: auto;
  width: auto;
  min-height: 44px;
  padding: 8px 20px;
  margin-left: 8px;
  margin-right: 8px;
  margin-top: 15px;
  border-radius: 7px;
  line-height: 1.4em;
  
  font-family: 'Roboto', sans-serif;
  overflow: auto;
  font-weight: bold;
  letter-spacing: 0;
  color: black;

  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  
  -webkit-transition: all 0.1s;
  -moz-transition: all 0.1s;
  -o-transition: all 0.1s;
  -ms-transition: all 0.1s;
  transition: all 0.1s;
}

.whiteButton.option.selected {
  -webkit-transition: all 0.1s;
  -moz-transition: all 0.1s;
  -o-transition: all 0.1s;
  -ms-transition: all 0.1s;
  transition: all 0.1s;
  background-color: #2ecc71;
  color: white;
}

.tick {
  position: absolute;
  opacity: 0;
  left: 12px;
  top: 12px;
  color: #2ecc71;
  -webkit-transition: all 0.1s;
  -moz-transition: all 0.1s;
  -o-transition: all 0.1s;
  -ms-transition: all 0.1s;
  transition: all 0.1s;
}

.selected .tick {
  opacity: 1;
}