.fixed {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: white;
  border-top: 1px solid #bdc3c7;
}

.buttonWrap {
  max-width: 480px;
  margin: 0 auto;
  padding: 15px 20px;
}

.ready {
  color: #27ae60;
  font-weight: bold;
}

.readyText {
  margin: 5px 0 15px;
}

.popDown {
  margin: -102px 2px 0;
  background-color: #EAEAEA;
  padding: 30px 0 15px;
  z-index: 2;
  color: #333;
  border-radius: 0 0 20px 20px;
  position: relative;
  -webkit-transition: margin-top 0.3s ease 0.1s;
  transition: margin-top 0.3s ease 0.1s;
}

.popDown.appear {
  margin-top: -45px;
  -webkit-transition: margin-top 0.3s ease 0.1s;
  transition: margin-top 0.3s ease 0.1s;
}

.borderTop {
  border-top: 1px solid rgba(51,51,51,0.15);
  padding-top: 15px;
}

.plusIcon {
  font-size: small;
  padding-right: 3px;
}

.paddingBottom {
  padding-bottom: 15px;
}

.reduceTop {
  margin-top: -15px;
}