.fixed {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: white;
  border-top: 1px solid #bdc3c7;
}

.buttonWrap {
  max-width: 480px;
  margin: 0 auto;
  padding: 15px 20px;
}

.ready {
  color: #27ae60;
  font-weight: bold;
}

.readyText {
  margin: 5px 0 15px;
}

.plusIcon {
  font-size: small;
  padding-right: 3px;
}

.reduceTop {
  margin-top: -15px;
}

.submittedQuestion {
  display: block;
}

#random {
  position: relative;
  right: -6px;
  background: transparent;
  border: none;
  letter-spacing: 0.5px;
  font-weight: bold;
  font-size: smaller;
  color: #00c4a2;
}

.addOption {
  border: none;
  /* border: 1px solid #DDD; */
  padding: 0 5px;
  background-color: white;
  display: inline-block;
  font-size: 11pt;
  position: relative;
  top: -5px;
  margin: 5px 10px 5px;
  color: #999;
  text-align: center;
  overflow: hidden;
  cursor: pointer;
  -webkit-transition: color 0.1s;
  -moz-transition: color 0.1s;
  -moz-transition: color 0.1s;
  -ms-transition: color 0.1s;
  -o-transition: color 0.1s;
  transition: color 0.1s;
}

.addOption .octicon {
  margin-right: 5px;
}

.addOption:hover {
  color: black;
  -webkit-transition: color 0.1s;
  -moz-transition: color 0.1s;
  -moz-transition: color 0.1s;
  -ms-transition: color 0.1s;
  -o-transition: color 0.1s;
  transition: color 0.1s;
}

hr.noTop {
  margin-top: 5px;
}

/* OptionsDropdown */

.optionsLabel {
  line-height: 35px;
}

select.selectType {
  border: 1px solid #CCCCCC;
  border-radius: 0.3em;
  outline: none;
  background-color: white;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("/down-arrow.svg");
  background-repeat: no-repeat;
  background-position: 98% center;
  background-size: 27px;
  padding: 3px 30px 3px 10px;
}

select.selectType:focus {
  border-color: #1385e5;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 0 3px rgba(19,133,229,.1);
}

.dropdownContainer {
  position: relative;
}

.optionsButton {
  position: absolute;
  top: 2px;
  right: 0px;
  display: inline-block;
  margin-left: 8px;
  width: 25px;
  line-height: 24px;
  text-align: center;
  padding: 0;
  border-radius: 3px;
  background-color: white;
  border: 1px solid #DDD;
  color: #00c4a2;
  cursor: pointer;
}

.optionsButton:hover {
  border-color: #BBB;
}

.optionsDropdown {
  display: none;
  position: absolute;
  right: 0px;
  padding: 8px 0;
  top: 30px;
  z-index: 50;
  background-color: white;
  border-radius: 3px;
  border: 1px solid #DDD;
}

.optionsDropdown.show {
  display: block;
}

.optionsDropdown > div {
  cursor: pointer;
  line-height: 2em;
  text-align: right;
  padding: 0 15px;
}

.optionsDropdown > div:hover {
  background-color: #F2F2F2;
}

.countdownText {
  font-size: xx-large;
  line-height: 167.2px;
}

/* multi-Spinner */

#preloader {
  width: 100px;
  height: 100px;
  margin: 20px auto;
}
#loader {
    display: block;
    position: relative;
    width: 100px;
    height: 100px;
    /* margin: -75px 0 0 -75px; */
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: rgb(0,145,175);
    -webkit-animation: multispin 2s linear infinite;
    animation: multispin 2s linear infinite;
}
#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: rgb(0,185,165);
    -webkit-animation: multispin 3s linear infinite;
    animation: multispin 3s linear infinite;
}
#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: rgb(0,225,155);
    -webkit-animation: multispin 1.5s linear infinite;
    animation: multispin 1.5s linear infinite;
}
@-webkit-keyframes multispin {
    0%   {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes multispin {
    0%   {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

/* Edit name */

.newName {
  display: inline-block;
  width: calc(100% - 80px);
  max-width: 200px;
}

.editName button {
  background-color: transparent;
  border: none
}

.editName button.edit:hover {
  color: #666;
}

.editName button.edit {
  color: #CCC;
  padding: 0 5px;
  margin-left: 2px;
}

.editName button.check, .editName button.cancel {
  border-radius: 50px;
  width: 30px;
  padding: 0;
  margin-left: 10px;
  text-align: center;
  line-height: 30px;
  color: white;
  
  -webkit-transition: filter 0.1s;
  -moz-transition: filter 0.1s;
  -o-transition: filter 0.1s;
  -ms-transition: filter 0.1s;
  transition: filter 0.1s;
}

.editName button.check {
  background-color: #00c4a2;
}

.editName button.cancel {
  background-color: #CCC;
}

.editName button.check:hover, .editName button.cancel:hover {
  filter: brightness(105%);
}
