.card {
  background-color: white;
  padding: 2em 1.5em 3em;
  border-radius: 30px 30px 20px 20px;
  -webkit-box-shadow: 0px 3px 6px -1px rgba(50, 50, 50, 0.25);
  -moz-box-shadow:    0px 3px 6px -1px rgba(50, 50, 50, 0.25);
  box-shadow:         0px 3px 6px -1px rgba(50, 50, 50, 0.25);
}

@media only screen and (min-width : 380px) {
  .card {
    padding: 2em 2em 3em;
  }
}

.logo {
  font-size: 36pt;
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: bold;
  line-height: 1em;
  margin-bottom: 30px; 
}

@media only screen and (min-width : 600px) {
  .logo {
    font-size: 48pt;
  }
}

.buttonsWrap {
  padding: 5px 0 20px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

.marginTopBottom {
  margin-top: 15px;
  
}